annotated-types==0.7.0
cachetools==5.5.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
cloup==3.0.5
contourpy==1.3.1
cycler==0.12.1
Cython==3.0.11
decorator==5.1.1
fonttools==4.55.0
glcontext==3.0.0
google-ai-generativelanguage==0.6.10
google-api-core==2.23.0
google-api-python-client==2.154.0
google-auth==2.36.0
google-auth-httplib2==0.2.0
google-generativeai==0.8.3
googleapis-common-protos==1.66.0
grpcio==1.68.0
grpcio-status==1.68.0
httplib2==0.22.0
idna==3.10
isosurfaces==0.1.2
joblib==1.4.2
kiwisolver==1.4.7
manim==0.18.1
ManimPango==0.6.0
mapbox_earcut==1.0.2
markdown-it-py==3.0.0
matplotlib==3.9.3
mdurl==0.1.2
moderngl==5.12.0
moderngl-window==3.0.2
mpmath==1.3.0
networkx==3.4.2
numpy==2.1.3
packaging==24.2
pillow==11.0.0
proto-plus==1.25.0
protobuf==5.29.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycairo==1.27.0
pydantic==2.10.2
pydantic_core==2.27.1
pydub==0.25.1
pyglet==2.0.18
PyGLM==2.7.3
Pygments==2.18.0
pyobjc-core==10.3.2
pyobjc-framework-Cocoa==10.3.2
pyparsing==3.2.0
python-dateutil==2.9.0.post0
requests==2.32.3
rich==13.9.4
rsa==4.9
scikit-learn==1.5.2
scipy==1.14.1
screeninfo==0.8.1
six==1.16.0
skia-pathops==0.8.0.post2
srt==3.5.3
svgelements==1.9.6
sympy==1.13.3
threadpoolctl==3.5.0
tqdm==4.67.1
typing_extensions==4.12.2
uritemplate==4.1.1
urllib3==2.2.3
watchdog==6.0.0
